#page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

#form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
    height: 100%;
}

#button {
    height: 3rem;
    border-radius: .5rem;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

#button:hover {
    transform: translateY(-.25rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#title {
    margin-top: 0;
}

#container {
    width: 22rem;
    height: 50vh;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5rem;
    padding: .5rem;
}

#labelContainer {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.p {
    margin: 0;
}

.input {
    width: 100%;
    box-sizing: border-box;
}

.error {
    margin: 0;
    background-color: hsl(0, 100%, 40%);
    color: white;
    border-radius: .3rem;
    padding: .3rem;
}

.error span {
    font-weight: bold;
}