#page {
    margin: 0 .5rem;
}

#title {
    margin: 0 0;
    margin-bottom: .5rem;
}

#table {
    margin-top: .5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5rem;
    border-collapse: collapse;
}

#table th {
    text-align: left;
    padding: 1rem 1rem 0 1rem;
    font-size: 1.25rem;
}

#table td {
    padding: 1rem 1rem;
}

#table tr {
    padding: 0 1rem;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#table tr:first-child {
    border: none;
}

#table tr:nth-child(2) {
    border-top: none;
}

#table tr:last-child {
    border-bottom: none;
    display: table-row;
}

#table tr td p::after {
    margin-left: .5rem;
}

#table tr td[datatype="status"][data-status="pending"] p::after {
    content: '🟡';
}

#table tr td[datatype="status"][data-status="approved"] p::after {
    content: '🟢';
}

#table tr td[datatype="status"][data-status="rejected"] p::after {
    content: '🔴';
}

#table tr td[datatype="start-date"] p::after,
#table tr td[datatype="end-date"] p::after {
    content: '🗓️';
}

#table tr td[datatype="duration"] p::after {
    content: '⌛';
}

#table tr td[datatype="employee-name"] p::after {
    content: '👩‍💻';
}

#table tr td[datatype="action"] {
    display: flex;
    column-gap: 1rem;
}

#table tr td[datatype="action"] button {
    border-radius: 5%;
    border: none;
    padding: .25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 6px;
    flex-grow: 1;
    transition: box-shadow 0.35s ease, flex-grow 0.35s ease;
    height: 2rem;
    min-width: 4rem;
    box-sizing: border-box;
}

#table tr td[datatype="action"] button:hover {
    flex-grow: 2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#table tr td button[data-action="Reject"] {
    background-color: tomato;
}

#table tr td button[data-action="Approve"] {
    background-color: greenyellow;
}

#table p {
    margin: 0;
    width: fit-content;
}